In [1]:
import numpy as np
import pandas as pd

In [3]:
dataset=pd.read_csv('/content/Data-cleaning-for-beginners-using-pandas.csv')

In [5]:
dataset.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [4]:
dataset.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [6]:
dataset.sample(5)

    Index   Age     Salary  Rating       Location  Established Easy Apply
21     21  35.0  $44k-$99k     5.0    New York,Ny         1946         -1
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
4       4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1
6       6  21.0  $44k-$99k     0.0    New York,Ny           -1         -1
16     16  19.0  $19k-$40k     4.5       India,In         1984         -1

In [7]:
dataset.isna().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [9]:
dataset.shape

(29, 7)

In [10]:
avg=dataset['Age'].mean()
avg

39.04545454545455

In [11]:
dataset['Age'].fillna(avg)

0     44.000000
1     66.000000
2     39.045455
3     64.000000
4     25.000000
5     44.000000
6     21.000000
7     44.000000
8     35.000000
9     22.000000
10    55.000000
11    44.000000
12    39.045455
13    25.000000
14    66.000000
15    44.000000
16    19.000000
17    39.045455
18    35.000000
19    32.000000
20    39.045455
21    35.000000
22    19.000000
23    39.045455
24    13.000000
25    55.000000
26    39.045455
27    52.000000
28    39.045455
Name: Age, dtype: float64

In [12]:
dataset['Age']=dataset['Age'].fillna(avg)

In [13]:
avg_R=dataset["Rating"].mean()

In [14]:
dataset['Rating']=dataset['Rating'].fillna(avg_R)

In [15]:
dataset.isna().sum()

Index          0
Age            0
Salary         0
Rating         0
Location       0
Established    0
Easy Apply     0
dtype: int64

In [16]:
dataset.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [17]:
good_years=dataset[dataset['Established']!=-1]

In [18]:
good_years

,Index,Age,Salary,Rating,Location,Established,Easy Apply
0,0,44.000000,$44k-$99k,5.400000,"India,In",1999,TRUE
1,1,66.000000,$55k-$66k,3.500000,"New York,Ny",2002,TRUE
3,3,64.000000,$44k-$99k,4.400000,India In,1988,-1
4,4,25.000000,$44k-$99k,6.400000,Australia Aus,2002,-1
5,5,44.000000,$77k-$89k,1.400000,"India,In",1999,TRUE
10,10,55.000000,$10k-$49k,5.400000,"India,In",2008,TRUE
11,11,44.000000,$10k-$49k,6.700000,"India,In",2009,-1
12,12,39.045455,$44k-$99k,0.000000,"India,In",1999,-1
13,13,25.000000,$44k-$99k,-1.000000,Australia Aus,2019,TRUE
14,14,66.000000,$44k-$99k,4.000000,Australia Aus,2020,TRUE
15,15,44.000000,$88k-$101k,3.000000,Australia Aus,1999,-1
16,16,19.000000,$19k-$40k,4.500000,"India,In",1984,-1
17,17,39.045455,$44k-$99k,5.300000,"New York,Ny",1943,TRUE
18,18,35.000000,$44k-$99k,6.700000,"New York,Ny",1954,TRUE
19,19,32.000000,$44k-$99k,3.300000,"New York,Ny",1955,TRUE
20,20,39.045455,$44k-$99k,5.700000,"New York,Ny",1944,TRUE
21,21,35.000000,$44k-$99k,5.000000,"New York,Ny",1946,-1
22,22,19.000000,$55k-$66k,7.800000,"New York,Ny",1988,TRUE
23,23,39.045455,$44k-$99k,2.400000,"New York,Ny",1999,TRUE
24,24,13.000000,$44k-$99k,-1.000000,"New York,Ny",1987,-1
25,25,55.000000,$44k-$99k,0.000000,Australia Aus,1980,TRUE
26,26,39.045455,$55k-$66k,3.528571,"India,In",1934,TRUE
27,27,52.000000,$44k-$99k,5.400000,"India,In",1935,-1
28,28,39.045455,$39k-$88k,3.400000,Australia Aus,1932,-1

In [19]:
good_years['Established'].mode()

0    1999
Name: Established, dtype: int64

In [20]:
dataset.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [21]:
dataset['Easy Apply'].replace("-1",False,inplace=True)
dataset.head(5)

   Index        Age     Salary  Rating       Location  Established Easy Apply
0      0  44.000000  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.000000  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2  39.045455  $77k-$89k    -1.0    New York,Ny           -1      False
3      3  64.000000  $44k-$99k     4.4       India In         1988      False
4      4  25.000000  $44k-$99k     6.4  Australia Aus         2002      False

In [22]:
dataset['Established'].replace(-1,1999,inplace=True)
dataset.head(5)

   Index        Age     Salary  Rating       Location  Established Easy Apply
0      0  44.000000  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.000000  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2  39.045455  $77k-$89k    -1.0    New York,Ny         1999      False
3      3  64.000000  $44k-$99k     4.4       India In         1988      False
4      4  25.000000  $44k-$99k     6.4  Australia Aus         2002      False

In [23]:
dataset['Rating'].replace(-1.0,0.0,inplace=True)
dataset.head()

   Index        Age     Salary  Rating       Location  Established Easy Apply
0      0  44.000000  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.000000  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2  39.045455  $77k-$89k     0.0    New York,Ny         1999      False
3      3  64.000000  $44k-$99k     4.4       India In         1988      False
4      4  25.000000  $44k-$99k     6.4  Australia Aus         2002      False

In [24]:
dataset['Age']=dataset['Age'].astype(int)

In [25]:
dataset.head(5)

   Index  Age     Salary  Rating       Location  Established Easy Apply
0      0   44  $44k-$99k     5.4       India,In         1999       TRUE
1      1   66  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   39  $77k-$89k     0.0    New York,Ny         1999      False
3      3   64  $44k-$99k     4.4       India In         1988      False
4      4   25  $44k-$99k     6.4  Australia Aus         2002      False

In [26]:
del dataset[dataset.columns[0]]

In [27]:
dataset.head(5)

   Age     Salary  Rating       Location  Established Easy Apply
0   44  $44k-$99k     5.4       India,In         1999       TRUE
1   66  $55k-$66k     3.5    New York,Ny         2002       TRUE
2   39  $77k-$89k     0.0    New York,Ny         1999      False
3   64  $44k-$99k     4.4       India In         1988      False
4   25  $44k-$99k     6.4  Australia Aus         2002      False

In [28]:
dataset['Salary']=dataset['Salary'].apply(lambda dataset:dataset.replace("$",''))
dataset.head()

   Age   Salary  Rating       Location  Established Easy Apply
0   44  44k-99k     5.4       India,In         1999       TRUE
1   66  55k-66k     3.5    New York,Ny         2002       TRUE
2   39  77k-89k     0.0    New York,Ny         1999      False
3   64  44k-99k     4.4       India In         1988      False
4   25  44k-99k     6.4  Australia Aus         2002      False

In [29]:
dataset['Salary']=dataset['Salary'].apply(lambda dataset:dataset.replace("k",'000'))
dataset.head()

   Age       Salary  Rating       Location  Established Easy Apply
0   44  44000-99000     5.4       India,In         1999       TRUE
1   66  55000-66000     3.5    New York,Ny         2002       TRUE
2   39  77000-89000     0.0    New York,Ny         1999      False
3   64  44000-99000     4.4       India In         1988      False
4   25  44000-99000     6.4  Australia Aus         2002      False

In [31]:
dataset['Location']=dataset['Location'].str.replace('Australia Aus','Australia,Aus')
dataset['Location']=dataset['Location'].str.replace('India In','India,In')

In [34]:
dataset.head(20)

    Age        Salary  Rating       Location  Established Easy Apply
0    44   44000-99000     5.4       India,In         1999       TRUE
1    66   55000-66000     3.5    New York,Ny         2002       TRUE
2    39   77000-89000     0.0    New York,Ny         1999      False
3    64   44000-99000     4.4       India,In         1988      False
4    25   44000-99000     6.4  Australia,Aus         2002      False
5    44   77000-89000     1.4       India,In         1999       TRUE
6    21   44000-99000     0.0    New York,Ny         1999      False
7    44   44000-99000     0.0  Australia,Aus         1999      False
8    35   44000-99000     5.4    New York,Ny         1999      False
9    22   44000-99000     7.7       India,In         1999       TRUE
10   55   10000-49000     5.4       India,In         2008       TRUE
11   44   10000-49000     6.7       India,In         2009      False
12   39   44000-99000     0.0       India,In         1999      False
13   25   44000-99000     0.0  Australia,Aus         2019       TRUE
14   66   44000-99000     4.0  Australia,Aus         2020       TRUE
15   44  88000-101000     3.0  Australia,Aus         1999      False
16   19   19000-40000     4.5       India,In         1984      False
17   39   44000-99000     5.3    New York,Ny         1943       TRUE
18   35   44000-99000     6.7    New York,Ny         1954       TRUE
19   32   44000-99000     3.3    New York,Ny         1955       TRUE